language: node_js
node_js:
  - 12
  - 10
  - 8
before_install:
  - npm install -g greenkeeper-lockfile
install:
  - npm install
  - npm install -g codecov
before_script:
  - greenkeeper-lockfile-update
script:
  - npm test
  - npm run lint
  - codecov
after_script:
  - greenkeeper-lockfile-upload
